---
import Layout from "../layouts/MainLayout.astro";
import { fade } from "astro:transitions";
---

<Layout>
  <div class="container grid grid-cols-3">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eos
      architecto deleniti voluptatum velit nesciunt quis consectetur ducimus,
      odio facere.
    </div>
    <div>
      Assumenda temporibus molestias quaerat in quae, fugit rerum ullam eos
      impedit natus voluptates quod voluptate! Magnam eveniet veniam soluta
      quisquam.
    </div>
    <div>
      Iure dolores exercitationem rerum, in totam temporibus voluptas pariatur
      odio veritatis natus nobis itaque rem quae saepe obcaecati? Earum,
      laboriosam!
    </div>
    <div>
      Pariatur veritatis quaerat sint nisi aspernatur quibusdam aliquid at.
      Eaque quis, et est voluptatem beatae sunt architecto tempore illo fuga!
    </div>
  </div>
</Layout>
