---
import { ToggleMode } from "@/components/Toggle";
import Layout from "../layouts/MainLayout.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";
---

<Layout>
  <main class="py-4 px-8 min-h-screen bg-daliLightBg dark:bg-daliDarkBg">
    <nav>
      <!-- <ToggleMode client:load /> -->
      <ThemeIcon />
    </nav>
  </main>
</Layout>

<style></style>
