---
import { Image } from "astro:assets";
import Layout from "../layouts/MainLayout.astro";
import me from "../assets/personal.jpg"

const MyImage = me
---

<Layout>
  <div class="flex flex-col text-start gap-4 h-48">
    <h1 class="text-8xl text-daliPrimary">Hey</h1>
    <h2 class="text-5xl text-daliPrimary">I'm Med Ali</h2>
  </div>

  <div class="pt-4">
    <Image transition:name="name" transition:animate="initial" class={"rounded-md"} alt="" src={MyImage} width={250} height={500}></Image>
  </div>
</Layout>

<style></style>
