---
import { Image } from "astro:assets";
import Layout from "../layouts/MainLayout.astro";
import me from "../assets/personal.jpg";
import { ButtonMain } from "@/components/MainButton";

const MyImage = me;
---

<Layout>
  <main
    class="mt-12 flex min-h-full flex-col items-center justify-center gap-4 bg-opacity-20 md:mt-0 md:flex-row"
  >
    <div class="flex flex-col items-center justify-center gap-4 md:w-1/3">
      <h1
        class="flex h-48 flex-col gap-4 text-center font-dm font-normal bg-clip-text text-clip text-transparent bg-gradient-to-br from-daliPrimary to-daliAccentLight dark:to-daliAccentDarkOnly  md:text-start"
      >
        <span class="text-8xl">Hey</span>
        <span class="text-5xl">I'm Med Ali</span>
      </h1>

      <div class="md:h-full">
        <Image
          transition:name="name"
          transition:animate="initial"
          class={"rounded-md"}
          alt=""
          src={MyImage}
          width={250}
          height={500}
        />
      </div>
    </div>

    <div class="flex flex-col md:w-2/3 md:px-4">
      <p class="balance text-center md:text-start">
        My name is Mohamed Ali Khaled and I’m a passionate software engineer
        based in Sfax, Tunisia. With a computer science degree focusing on big
        data and data analytics, I enjoy exploring various technologies and
        building personal projects in my free time. Click here to learn more.
      </p>

      <div
        class="flex w-full items-center justify-center py-4 md:justify-start"
      >
        <ButtonMain client:only="react">
          <a href="/about">About Me</a>
        </ButtonMain>
      </div>
    </div>
  </main>
</Layout>
