---
import Layout from "../layouts/MainLayout.astro";
---

<Layout>
  <main class="flex min-h-screen bg-teal-200">
    <h1 class="mx-auto text-4xl text-blue-400">Astro</h1>
  </main>
</Layout>

<style></style>
