---
import ThemeIcon from "./ThemeIcon.astro";
---

<nav transition:persist class="flex items-end justify-end gap-4" >
  <!-- <ToggleMode client:load /> -->
  <a href="/">Home</a>
  <a href="/blog">Menu</a>

  <ThemeIcon />
</nav>


