---
import Navigation from "@/components/Navigation.astro";
import { ViewTransitions } from "astro:transitions";
---

<script>
  import "@/styles/globals.css";
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Dali</title>
    <ViewTransitions fallback="swap" />
  </head>

  <body
    class="bg-daliLightBg px-6 py-6 font-jakarta text-slate-800 dark:bg-daliDarkBg dark:text-daliText md:p-8"
  >
    <Navigation />
    <main>
      <slot />
    </main>

    <script>
      function colorMode() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }
      colorMode();

      document.addEventListener("astro:after-swap", colorMode);
    </script>
  </body>
</html>
